<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Cube timer - <%= title %></title>

    <style>
        a {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="creds">
        <form >
            <h2 id="logtype" class="<%= logType %>"><%= title %></h2>
            <input id="email" type="email" required/><br><br>
            <input id="password" type="password" required/><br><br>
            <input type="submit" /><br><br>
            <a href="<%= logOption.link %>"><%= logOption.option %></a>
            <a href="/"><--</a>
        </form>
    </div>

    <script>
        document.addEventListener("submit", e => {
            e.preventDefault();

            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;

            if (password.length < 6) {
                alert("password needs to be at least 6 digits long");
                return;
            }

            let data = {email, password};
            let logType = document.getElementById("logtype").className;

            fetch(`/${logType}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(res => {
                if (res.status == 200) {
                    window.location = "/";
                } else if (res.status == 500) {
                    alert("you don't have an account")
                } else if (res.status == 400) {
                    alert("no work")
                }
            })
        })
    </script>
</body>
</html>